
@{
    ViewBag.Title = "清單頁面";
}

<!DOCTYPE html>
<link href="~/Css/_vwLayoutPage/LayoutPage.css" rel="stylesheet" />

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>合康生醫清單頁面</title>  
</head>
<body>
    <div>                
        
    </div>
    <div>
        @*列表清單*@
    </div>
</body>
</html>

<script>
    var a = window.localStorage.getItem("userid");
    console.log(a);
</script>