
@{
    ViewBag.Title = "登入頁面";
    Layout = null;
}


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>合康生醫登入頁面</title>
</head>
<body>
    <button type="button" id="btnSignIn">Google登入</button>
</body>
</html>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=GoogleSigninInit" async defer></script>
<script>
    let GoolgeApp_Cient_Id = "@System.Web.Configuration.WebConfigurationManager.AppSettings["Google_clientId_forLogin"]";
    let id_token_to_userIDUrl = "@Url.Action("Hok_GmailLogIn", "Hok_TeethFunction")";

    $("#btnSignIn").on("click", function () {
        GoogleLogin();//Google 登入
    });

    function GoogleSigninInit() {
        gapi.load('auth2', function () {
            gapi.auth2.init({
                client_id: GoolgeApp_Cient_Id//必填，記得開發時期要開啟 Chrome開發人員工具 查看有沒有403錯誤(Javascript來源被禁止)
            });
        });//end gapi.load
    }//end GoogleSigninInit function


    function GoogleLogin() {
        Google_disconnect();//每次按下登入都先進去把google斷連
        let auth2 = gapi.auth2.getAuthInstance();//取得GoogleAuth物件

        auth2.signIn().then(function (GoogleUser) {
            console.log("Google登入成功");

            var GoogleProfile = GoogleUser.getBasicProfile();
            var Email = GoogleProfile.getEmail();
            var Name = GoogleProfile.getName();
            console.log("Email : " + Email);
            console.log("Name : " + Name);
            let AuthResponse = GoogleUser.getAuthResponse(true);//true會回傳access token ，false則不會，自行決定。如果只需要Google登入功能應該不會使用到access token
            let id_token = AuthResponse.id_token;//取得id_token
            $.ajax({
                url: id_token_to_userIDUrl,
                method: "post",
                data: { id_token: id_token, Email: Email, Name: Name },
                success: function (msg) {
                    console.log(msg);
                    if (msg == "GmailFail") {
                        alert("此組Gmail帳號還未申請，請洽後台人員！");
                        return false;
                    }
                    else if (msg == "CatchFail") {
                        alert("程式問題，請洽後台人員！");//Catch的問題 
                        return false;
                    }
                    else if (msg == "TokenFail") {
                        alert("Token問題，請洽後台人員！");//傳到後端的Token為空直   
                        return false;
                    }
                    else {
                        alert("登入成功！");
                        window.localStorage.setItem("userid", msg);
                        window.location.href ="@System.Web.Configuration.WebConfigurationManager.AppSettings["SuccessForNextPage"]";
                    }
                }
            });//end $.ajax
        },
            function (error) {
                console.log("Google登入失敗");
                console.log(error);
            });
    }

    //google斷連
    function Google_disconnect() {
        let auth2 = gapi.auth2.getAuthInstance(); 

        auth2.disconnect().then(function () {
            console.log('User disconnect.');
        });
    }
</script>
