@model Hok_Teeth.Domain.Dto.dto_Register
@{
    ViewBag.Title = "設定頁面";
    Layout = null;
}
<link href="~/Css/_vwSetUpCSS/SetUp.css" rel="stylesheet" />

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>合康生醫設定頁面</title>
</head>
<body>
    <div class="divforSet">
        <form method="post" action="@Url.Action("","")" id="FormSubmit">
            <div>
                <label>                   
                    <img src="~/Content/Image/user.png" /><span class="spn">shen811123@("@")gmail.com</span>
                </label>
            </div>
            <div class="divforlab">
                <label for="PassWord" class="lab2"><i class="setupfori"> *</i> 重設密碼</label>
                <input type="text" class="divforinp" name="HokPassWord" id="PassWord" placeholder="請輸入新密碼" autocomplete="off" pattern="" />
                <label id="labelForErr">@Html.ValidationMessageFor(model => model.HokPassWord)</label>
            </div>

            <div class="divforlab">
                <label for="CheckPassWord" class="lab2"><i class="setupfori"> *</i> 確認密碼</label>
                <input type="text" class="divforinp" name="HokCheckPassWord" id="CheckPassWord" placeholder="請再次輸入新密碼" autocomplete="off" pattern="" />
                <label id="labelForErr">@Html.ValidationMessageFor(model => model.HokCheckPassWord)</label>
            </div>

            <div class="div5">
                <div class="divforlab"><label class="lab1">CNC1</label><input type="text" class="divforinp1" placeholder="重設名稱" /></div>
                <div class="divforlab"><label class="lab1">CNC2</label><input type="text" class="divforinp1" placeholder="重設名稱" /></div>
                <div class="divforlab"><label class="lab1">CNC3</label><input type="text" class="divforinp1" placeholder="重設名稱" /></div>
            </div>

            <div class="div6">
                <button type="button" class="BtnFinish1" title="按一下回到首頁">回 首 頁</button>
                <button type="button" class="BtnFinish" title="按一下完成設定">完 成</button>
            </div>
        </form>
    </div>


</body>
</html>
