#menu {
    position: fixed;
    left: 0;
    top: 50%;
    margin-top: -2.5em;
    margin-left: 3em;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 26px;
    color: #2894FF;
    font-weight: bold;
}

.div1 {
    width: 300px;
    border: 1px solid #D0D0D0;
    height: 700px;
    float: left;
    margin-top:10px;
}

#CreateBtn {
    border: 0;
    background-color: white;
    cursor: pointer;
}

#WorkItemBtn {
    border: 0;
    background-color: white;
    cursor: pointer;
}

#DateBtn {
    border: 0;
    background-color: white;
    cursor: pointer;
}
#setup {
    border: 0;
    background-color: white;
    cursor: pointer;
    float: right;
}

.div2 {
    margin-top: 1%;
    margin-left: 10%;
    float: left;
}

.div3 {
    margin-top: 1%;
    margin-left: 2%;
    float: left;
}

.div4 {
    margin-top: 1%;
    margin-left: 2%;
    float: left;
}

.InputText {
    margin-top: 1%;
    width: 650px;
    font-size: 18px;
    font-family: 微軟正黑體;
    border-radius: 10px;
    margin-left: 10%;
}
