.lab1 {
    border: 1px solid #97CBFF;
    border-radius: 4px;
    padding: 15px;
    font-size: 20px;
}
.lab2{
    font-family:微軟正黑體;
    font-size:20px;
}
.divforSet {
    margin: 120px auto;
    text-align: center;
}
.divforlab {
    margin-bottom: 15px;
    margin-top:3%;
}
.divforinp {
    font-family:微軟正黑體;
    font-size:20px;
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width:400px;
    margin-left:5%;
}
.divforinp1 {
    font-family: 微軟正黑體;
    font-size: 20px;
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-left: 5%;
    width: 400px;
}
.setupfori{
    color:red;
}
.div5{
    margin-top:150px;
}
#labelForErr {
    color: red;
    font-family: 微軟正黑體;
    font-size: 15px;
}
.BtnFinish {
    font-family: 微軟正黑體;
    font-size: 25px;
    background-color: #97CBFF;
    border-radius: 4px;
    width: 100px;
    padding: 8px;
    font-weight: bold;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    margin-left:3%;
}
.BtnFinish1 {
    font-family: 微軟正黑體;
    font-size: 25px;
    background-color: #97CBFF;
    border-radius: 4px;
    width: 150px;
    padding: 8px;
    font-weight: bold;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}
.div6 {
    margin-top: 8%;
}
.spn{
    font-weight:bold;
    font-size:40px;
    margin-left:5%;
}

